:root {
  /* Variables de colores y sombras */
  --primary-color: #33ccff;
  --secondary-color: #33cc33;
  --tertiary-color: #ff3399;
  --box-shadow-light: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
  --box-shadow-dark: inset 5px 5px 8px rgba(16, 16, 16, .1), inset -5px -5px 8px #fff;
  --box-shadow-primary: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
  --box-shadow-secondary: inset 5px 5px 8px #2eb82e, inset -5px -5px 8px #33cc33;
  --box-shadow-tertiary: inset 5px 5px 8px #e60073, inset -5px -5px 8px #ff3399;
}

body {
  /* Estilos para el body*/ 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background: #ecf0f3;
}

.calculator {
  /* Estilos para el contenedor principal (bloque) */
  margin-left: 1.8em;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
}

.calculator__display {
  /* Estilos para el display (elemento) dentro del bloque calculator */
  margin-bottom: .5em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: .5em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: var(--box-shadow-light);
}
.calculator__display #screen{
  width: 97%;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: .5em;
  background: #ecf0f3;
  border-radius: 6px;
}
.calculator__button {
  /* Estilos base para todos los botones (elemento) */
  width: 78px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: .1s;
  box-shadow: var(--box-shadow-light);
}

/* Estilos específicos para ciertos botones modificados */
.calculator__button--ce {
  background: var(--tertiary-color);
  color: #fff;
}

.calculator__button--ce:hover {
  box-shadow: var(--box-shadow-tertiary);
}

.calculator__button--ac {
  background: var(--secondary-color);
  color: #fff;
}

.calculator__button--ac:hover {
  box-shadow: var(--box-shadow-secondary);
}

.calculator__button--evaluate {
  background: var(--primary-color);
  color: #fff;
}

.calculator__button--evaluate:hover {
  box-shadow: var(--box-shadow-primary);
}
